body {
  font-family: "Helvetica Neue", Helvetica, Ariel, sans-seif;
}
#main {
  width: 95%;
  max-width: 450px;
  margin: 0 auto;
}

pre {
    padding: 1em;
    background: #fefefe;
    border: 1px solid #efefef;
    overflow: scroll;
}

hr {
    margin:2em 0;
    border-width: 0 0 1px 0;
}

.form-item {
  margin: 1.5em 0;
}
.form-item input {
    box-sizing: border-box;
    height: 37px;
    font-size: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    width: 100%;
}

.form-item.float-label.custom input {
    height: 40px;
    font-size: 0.7em;
    padding: 1em;
    border: 1px solid #ccc;
    width: 100%;
}
.form-item.float-label.custom input+label {
    margin-left: 1em;
}
